/* استایل‌های کانتینر */
.container {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  padding: 20px;
  margin: 20px;
  max-width: 300px; /* حداکثر عرض کارت */
  width: 100%; /* عرض کامل کارت */
}

.container:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* استایل‌های تصویر */
.image {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 15px;
}

/* استایل‌های عنوان */
.title {
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

/* استایل‌های جزئیات */
.detail {
  font-size: 14px;
  color: #666;
  margin: 5px 0;
}

/* استایل‌های فوتر */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

/* استایل‌های قیمت */
.footer p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

/* استایل‌های مکان */
.location {
  display: flex;
  align-items: center;
}

.location p {
  margin: 0 5px 0 0;
  font-size: 14px;
  color: #666;
}

/* استایل‌های رسپانسیو */
@media (max-width: 768px) {
  .container {
    max-width: 100%; /* کارت‌ها در دستگاه‌های کوچک‌تر عرض کامل دارند */
    margin: 10px 0; /* حاشیه‌های کوچکتر برای دستگاه‌های کوچک‌تر */
  }

  .title {
    font-size: 16px; /* فونت کوچکتر برای دستگاه‌های کوچک‌تر */
  }

  .detail {
    font-size: 12px; /* فونت کوچکتر برای دستگاه‌های کوچک‌تر */
  }

  .footer p {
    font-size: 14px; /* فونت کوچکتر برای دستگاه‌های کوچک‌تر */
  }

  .location p {
    font-size: 12px; /* فونت کوچکتر برای دستگاه‌های کوچک‌تر */
  }
}
