/* استایل‌های کانتینر */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

/* استایل‌های هر دسته‌بندی */
.container div {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  width: 200px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container div:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* استایل‌های لینک‌ها */
.container a {
  text-decoration: none;
  color: #000;
}

/* استایل‌های متن دسته‌بندی */
.container p {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}

/* استایل‌های آیکون */
.container svg {
  width: 50px;
  height: 50px;
}

/* استایل‌های رسپانسیو */
@media (max-width: 768px) {
  .container {
    justify-content: center; /* عناصر را در مرکز قرار می‌دهد */
  }

  .container div {
    width: calc(100% - 10px);
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
}
