/* Layout.module.css */

.container {
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px; */
  width: fit-content;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
  transform: translateY(-5px);
}

.container div {
  text-align: center;
  margin: 10px;
  background-color: #0288d1;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  width: 120px;
  color: #ffffff;
  font-family: "Arial", sans-serif;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.container div:hover {
  background-color: #82b5d1;
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .container {
    justify-content: center;
    flex-wrap: wrap;
  }

  .container div {
    width: 100px;
    height: 100px;
    margin: 10px;
  }
}
