/* استایل‌های کانتینر */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px; /* حداکثر عرض کانتینر */
  margin: auto; /* مرکزیت کانتینر */
}

/* استایل‌های ورودی‌ها */
.container div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.container input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  width: calc(50% - 10px); /* نصف عرض کانتینر با فاصله */
}

/* استایل‌های دکمه */
.container button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.container button:hover {
  background-color: #555;
  transform: translateY(-2px);
}

/* استایل‌های رسپانسیو */
@media (max-width: 768px) {
  .container input {
    width: 100%; /* عرض کامل ورودی‌ها در دستگاه‌های کوچک‌تر */
  }

  .container {
    max-width: 100%; /* عرض کامل کانتینر در دستگاه‌های کوچک‌تر */
  }
}
