/* استایل‌های کانتینر */
.container {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 800px; /* حداکثر عرض کانتینر */
}

/* استایل‌های تصویر */
.image {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 15px;
}

/* استایل‌های هدر */
.header {
  margin: 10px 0;
  font-size: 24px;
  font-weight: bold;
  color: #000;
  text-align: center;
}

/* استایل‌های جزئیات */
.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0;
}

.details div {
  flex: 1 1 45%; /* عرض هر جزئیات */
  min-width: 200px; /* حداقل عرض برای هر جزئیات */
  margin: 10px 0;
  text-align: left;
  padding: 10px;
}

.details p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}

.details span {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

/* استایل‌های توضیحات */
.descriptionTitle {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin-top: 20px;
  text-align: left;
}

.descriptionText {
  font-size: 14px;
  color: #666;
  margin: 10px 0;
  text-align: left;
}

/* استایل‌های قیمت */
.price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin: 20px 0;
}

.price p {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 4px;
  margin-right: 4px;
}

/* استایل‌های دکمه */
.button {
  padding: 12px 30px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: block;
  margin: 20px auto;
}

.button:hover {
  background-color: #555;
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .details {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .details div {
    min-width: 45%; /* عرض جزئیات در دستگاه‌های کوچک‌تر */
  }

  .container {
    max-width: 100%; /* عرض کامل کانتینر در دستگاه‌های کوچک‌تر */
  }
}

@media (max-width: 480px) {
  .details div {
    min-width: 100%; /* عرض کامل جزئیات در دستگاه‌های کوچک‌تر */
  }
}
